:root {
  --link-color: #ffffff;
  --social-link-color: #434455;
  --link-color_hover: #2e2f42;
  --logo-and-hover-color: #4d5ae5;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

* {
  font-family: var(--font-family);
}

::after,
::before {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  font-size: 14px;
  color: var(--text-color);
  letter-spacing: 0.03em;
  line-height: 1.14;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.section {
  padding: 94px 0;
}

.side-padding {
  padding-left: 161px;
  padding-right: 161px;
}

/* -- Header Style -- */

.global-header {
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 161px 25px 161px;
  background: #fff;
  width: 1200px;
  border: 0px, 0px, 1px, 0px;
  gap: 30;
}

.global-header .container {
  align-items: center;
  justify-content: center;
  position: relative;
  left: 250px;
  top: 0px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--link-color_hover);
}

.logo span {
  color: var(--logo-and-hover-color);
}

.nav-links {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap: 37px;
}

.header-contact {
  margin-left: auto;
  display: flex;
  gap: 30px;
}

.mail,
.phone {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--social-link-color);
}

.logo:hover,
.logo:focus {
  color: var(--logo-and-hover-color);
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  color: var(--logo-and-hover-color);
}

.mail:hover,
.mail:focus {
  color: var(--logo-and-hover-color);
}

.phone:hover,
.phone:focus {
  color: var(--logo-and-hover-color);
}

.webstudio {
  text-decoration: none;
}

.top-line {
  list-style-type: none;
}

/* -- Hero Style -- */

.hero-section {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(46, 47, 66, 0.4) , rgba(46, 47, 66, 0.7)), url("../images/people-office 1.png"); #2E2F42; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
 
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  justify-content: center;
  position: relative;
  left: 150px;
  top: 300px;
}

ul {
  list-style-type: none;
}

.hero-section .hero-title {
  font-family: "Roboto", sans-serif;
  top: 72px;
  width: 1200px;
  height: 600px;
}

.button-service {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  color: var(--link-color);
  width: 169px;
  height: 56px;
  top: 428px;
  padding: 16px, 32px, 16px, 32px;
  font-size: 16px;
  line-height: 24px;
  gap: 10px;
  position: relative;
  right: 450px;
  top: 300px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-service:hover {
  cursor: pointer;
}

/* -- Section1 -- */

.container-section ul {
  display: flex;
  gap: 24px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  padding: ;
}

.container .section1 {
  width: 1200x;
  height: 224px;
  top: 792px;
  left: 156px;
  justify-content: center;
}

.icon {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background-color: #f4f4fd;
  align-items: center;
}

.description-title {
  font-family: "Roboto", sans-serif;
  width: 264px;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
}

.description-text {
  font-family: "Roboto", sans-serif;
  width: 264px;
  height: 72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
  margin-top: 10px;
  display:flex;
}

/* -- Section 2 -- What are we do --*/

.whatarewedo-title,
.team-members-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.whatarewedo-section .container {
  flex-direction: column;
  align-items: center;
}

.whatarewedo-section {
  width: 1200px;
  height: 412px;
  top: 1136px;
  left: 156px;
} 


.presentation-image {
  display: flex;
  gap: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.whatarewedo-image {
  width: 360px;
}

/* -- Section 3 -- Our Team --*/

.team-members {
  background: #f4f4fd;
}

.team-members .container {
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.team-card {
  background-color: var(--white-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team {
  display: flex;
  gap: 20px;
}

.team-person-image {
  width: 264px;
  height: 260px;
  margin-bottom: 30px;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top:20px;
}

.icon-list .icon svg {
  width: 16px;
  height: 16px;
}


.icon-list .icon {
  width: 40px;
  height: 40px;
  background: rgba(77, 90, 229, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--links-color);
  margin-bottom: 10px;
}

.person-job {
  font-size: 16px;
  line-height: 1.18;
  padding-bottom: 30px;
}

/* -- Customers -- */
.customers-section .container{
  width: 1200px;
  height: 200px;
  top: 2568px;
  left: 156px;
  color: #2E2F42;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.customers-logo { 
  width: 104px;
  height: 56px;
  top: 16px;
  left: 32px;
  padding: 9px, 9px, 6px, 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}


.customers-title {
  width: 183px;
  height: 40px;
  top: 2568px;
  left: 629px;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  align-items: center;
}

.customers-logo .client{ 
  stroke: #8E8F99;
  stroke-width:"4";
  width: 168px;
  height: 88px;
  border: solid #8e8f99;
}

.customers-title {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

/* -- Footer Style -- */

.global-footer {
  background-color: var(--link-color_hover);
  margin: auto;
}

.global-footer .container {
  flex-direction: column;
  position: relative;
}

.logostudio span{
  color: #ffffff;
  width: 115px;
  height: 24px;
}

.footer-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  height: 72px;
}

.footer-title {
  flex-direction: column;
}

.footer-social-media {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
